# Node.js dependencies
/front-end/node_modules
/server/node_modules

# Front-end build and environment files
/front-end/public
/front-end/.env
front-end/package-lock.json

# Server configuration and environment files
/server/config
/server/.env
server/package-lock.json

# Log files
logs
*.log

# Miscellaneous
.DS_Store